@font-face{
  font-family: 'Museo';
  src: url('../fonts/Museo700-Regular.otf');
}
body{
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header.main-header{
  background: url("../img/dipped_header.png");
  background-size: cover;
  color: white;
  padding-top: 20px;
  position: relative;
}
header.main-header:after{
box-shadow: 0px -1px 15px #b8b8b8;  
  content: '';
  display: block;
  height: 100%;
  position:absolute;
  width: 100%;
  
}
header.main-header .row{
  padding-top: 10px;
}
header.main-header .separator{
  border-bottom: 1px solid rgba(255,255,255,0.2);

}
header.main-header .nav .nav-item{
  padding: 10px 20px;
  margin: 0px 5px;
}
header.main-header .nav .nav-item:hover{
  background: #242824;
  border-radius: 5px;
  cursor: pointer;
}
button.navbar-toggler{
  background: red;
  color: #fff;
}
header.main-header h1{
  margin-top: 30px;
  font-family: 'Museo';
  padding: 10px 0px;
  text-shadow: 1px 1px 1px #000;
  font-size: 3em;
}
header.main-header h2{
  font-size: 1.2em;
}

header.main-header .btn {
  background: #fb2f3a;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #242824;
}
header.main-header a{
  text-decoration: underline;
  margin: 5px;
  color: white;
}

.header-img{
  margin-top: 20px;
}
.header-img .row [class*="col-"]{
  padding: 0;
}
.header-img figure{
  margin-bottom: 0;
}
.header-img .side-img{
  overflow: hidden;
}
.side-img .h-img{
  margin-top: 2px;
  margin-bottom: -2px;
}

.header-img .bar{
  position: absolute;
}

.header-img .side-img .bar{
  top: 2px;
}
.header-img figure:first-child img{
  width: 180%;
}
.header-img figure:nth-child(2) img{ 
  width: 100%;
}
.main-img{
  z-index: 0;
}
.header-img figure:nth-child(3) img{  
  width: 180%;
  margin-left: -100%;
}

section.plan{
  padding: 100px 0px;
  background: #eee;
  text-align: center;
}

.plan .card{
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

.plan .img-wrapper{
  position: relative;
  width: 100px;
  height: 100px;
  max-width: 100%;
  margin: 20px auto;
  border: 5px solid #c6c6c6;
  border-radius: 100%;
  z-index: 100 !important;
  
  box-shadow: -1px 1px 5px #dedede;
  background: #eee;
}
.plan .img-wrapper::before{
  content: '';
  display: block;
  background: #c6c6c6;
  width: 100%;
  height: 5px;
  position: absolute;
  top:50%;
  left: calc(-100% - 5px);
  z-index: -1;
  /*box-shadow: -1px 1px 1px #242824;*/
}
.plan .img-wrapper::after{
  content: '';
  display: block;
  background: #c6c6c6;
  width: 120%;
  height: 5px;
  position: absolute;
  top:50%;
  left: calc(100% + 5px);
  z-index: -1;
  /*box-shadow: 1px 1px 1px #242824;*/
}
.plan .img-wrapper img{
  padding: 25px;
}
.plan .btn{
  background: #9a9c9f;
  box-shadow: 1px 1px 1px #242824;
  color: white;
  padding: 10px 20px;
  font-family: 'Museo', sans-serif;
}